---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );
  let tags = new Map();

  posts.forEach((post) => {
    post.data.tags?.forEach((tag) => {
      if (!tags.get(tag)) {
        tags.set(tag, [post]);
      } else {
        tags.set(tag, [...tags.get(tag), post]);
      }
    });
  });

  const toReturn: any[] = [];
  tags.forEach((value, tag) => {
    let obj = {
      params: { slug: tag },
      props: value,
    };

    toReturn.push(obj);
  });

  return toReturn;
}
const post = Astro.props;
const { slug } = Astro.params;
---

<BaseLayout>
  <h1>{`${Object.keys(post).length} posts tagged: `}<span>{slug}</span></h1>
  <ol>
    {
      Object.keys(post).map((key) => {
        return (
          <li>
            <a href={"/blog/" + post[key].slug}>
              <h2>{post[key].data.title}</h2>
            </a>
            <p>{post[key].data.description}</p>
          </li>
        );
      })
    }
  </ol>
</BaseLayout>
<style>
  a {
    text-decoration: none;
  }
  a h2 {
    color: rgb(var(--big-blue-rgb));
  }

  a:hover h2 {
    color: var(--bright-blue);
  }

  h1 span {
    color: var(--tag);
  }
</style>
