---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <img src="/404.gif" />
  </div>
</BaseLayout>
<style>
  div {
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
