---
import { getCollection } from "astro:content";
import PostPreview from "../components/PostPreview/PostPreview.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
import {migrateBlogPosts} from "../utils/getAllGardenContent";


console.log(`ENV`, process.env.NODE_ENV)
const newPosts = (await getCollection("garden"))
  .filter(post => post.data.tags.includes("blog"))
  .filter((post) => {
    return !(process.env.NODE_ENV === "production" && post.data.tags.includes("draft"));
  })
    .sort((a,b) => new Date(b.data.created) - new Date(a.data.created))



const oldPosts = (await migrateBlogPosts());
const posts = [...newPosts, ...oldPosts].slice(0, 10);
---

<BaseLayout>
  <div class="intro">
    <p>
      Hi, I’m Joe, this is my website. I write about life, things that interest
      me here. I organize this site like a garden, and you can find all the plants <a href="/garden">here</a>.
    </p>
  </div>
  <ul class="grid">
    {
      posts.map((post) => (
        <li>
          <PostPreview post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .intro {
    @media screen and (min-width: 700px) {
      max-width: 600px;
      margin: 4rem auto;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;

    @media screen and (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2rem;
    }
  }
</style>
