---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BookNote from "../../components/BookNote/BookNote.astro";
import type { CollectionEntry } from "astro:content";

const posts = (await getCollection("books"))
const years = [/*"2019", "2020", "2021", "2022", */ "2023", "2024", "2025"].reverse();
const dateSort = (a: CollectionEntry<"books">, b: CollectionEntry<"books">) => new Date(b.data.date as Date).getTime() - new Date(a.data.date as Date).getTime();---


<BaseLayout>
    <h1>Books Read</h1>
    {years.map((year) => (
        <div>
            <h2>{year}</h2>
            <ol class="grid">
                {
                    posts.filter(p => p.slug.includes(year)).sort(dateSort).map((post, index) => (
                            <li data-count={index}>


                                <BookNote book={post} />
                            </li>
                    ))
                }
            </ol>
        </div>
    ))}


</BaseLayout>

<style>
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }


    .tag {
        font-size: .8rem;

        font-variant: small-caps;
        display: inline-block;
        align-items: center;

        background-color: var(--tag);
        color: white;
        padding: 0 5px;
        border-radius: 5px;
    }

    .tag--nf {
        background-color: var(--big-blue);
    }

    .tag--f {
        background-color: var(--tag);
    }

    .tag--c {
        background-color: rgba(var(--gray), 1);
    }

    .tag--m {
        background-color: var(--yellow);
    }
</style>
