---
import {getAllGardenContent} from "../../utils/getAllGardenContent";
import GardenLayout from "../../layouts/GardenLayout.astro";
import GardenPostsMixed from "../../components/GardenPosts/GardenPostsMixed.astro";
import Search from "../../components/Search/Search.astro";

const {content,  tags : allTags} = (await getAllGardenContent())
const posts = content.slice(0,20)
// maybe limit here, sort by latest update.
const tags = [...new Set(allTags)]
---

    <GardenLayout>
        <h1>Garden</h1>
        <Search />

                <GardenPostsMixed posts={posts}  slot="garden-main"/>

        <div slot="garden-aside">
            <h3>Tags</h3>
            <ul>
                {tags?.map((tag) => <li><a href={`/garden/tag/${tag}`}>{tag}</a></li>)}
            </ul>
        </div>
    </GardenLayout>



<style>
    h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
</style>
